= modal.body do
  - if status[:errors].try(:any?)
    .alert.alert-warning
      = model_translate(:success_with_errors, scope: "para.jobs", model: job)

      %ul
        - status[:errors].each do |message|
          %li= message.html_safe

  - else
    .alert.alert-success
      = model_translate(:success, scope: "para.jobs", model: job)

= modal.footer do
  %button.btn.btn-default{ data: { dismiss: 'modal' } }
    = t('para.shared.close')
