= modal.body do
  - if status[:errors].try(:any?)
    .alert.alert-warning
      = t("para.jobs.#{ job.model_name.i18n_key }.success_with_errors")

      %ul
        - status[:errors].each do |message|
          %li= message.html_safe

  - else
    .alert.alert-success
      = t("para.jobs.#{ job.model_name.i18n_key }.success")

= modal.footer do
  %button.btn.btn-default{ data: { dismiss: 'modal' } }
    = t('para.shared.close')
