= para_form_for(resource) do |form|
  = form.error_notification

  = form.fieldset do
  <%- attributes.each do |field| -%>
    <%- if field.field_type -%>
    = form.<%= field.field_method %> :<%= field.name %>, as: :<%= field.field_type %>
    <%- else -%>
    = form.<%= field.field_method %> :<%= field.name %>
    <%- end -%>
  <%- end -%>

  = form.actions
