= simple_form_for [:admin, @component, resource], url: component_relation_path(@component, resource.class.name, resource), as: :resource, wrapper: :horizontal_form, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |field| -%>
    <%- if field.field_type -%>
    = f.<%= field.field_method %> :<%= field.name %>, as: :<%= field.field_type %>
    <%- else -%>
    = f.<%= field.field_method %> :<%= field.name %>
    <%- end -%>
  <%- end -%>

  .form-actions
    = form.button :submit, t('para.shared.save'), class: 'btn-success'
    = link_to t('para.shared.cancel'), component_path(@component), class: 'btn btn-default'
