= simple_form_for [:admin, @component, resource] do |f|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |_, field| -%>
    <%- if field.type -%>
    = f.<%= field.field_method %> :<%= field.name %>, as: :<%= field.type %>
    <%- else -%>
    = f.<%= field.field_method %> :<%= field.name %>
    <%- end -%>
  <%- end -%>

  .form-actions
    = f.button :submit