.navbar.navbar-default.navbar-fixed-top{ data: { header: true } }
  %button.navbar-toggle{ type: 'button', data: { toggle: 'offcanvas', target: '.navmenu' } }
    %span.sr-only
      = t('para.admin.toggle_navigation')
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

  = render_breadcrumbs

  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to root_path, target: "_blank" do
        %i.fa.fa-home
        %span.text-hidden
          = t('para.admin.back_to_app')

    %li
      = link_to destroy_admin_user_session_path, method: :delete do
        %i.fa.fa-power-off
        %span.text-hidden
          = t('para.admin.sign_out')

    