%ul.navigation-horizontal{ data: { header: true } }
  %li.brand-logo
    = link_to admin_path do
      .hidden-sm.hidden-xs
        = t('para.admin.title')
      .visible-sm.visible-xs
        %i.fa.fa-home

  %li
    = link_to root_path do
      %i.fa.fa-long-arrow-left
      %span.text-hidden
        = t('para.admin.back_to_app')

  %li.pull-right
    %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#menu-sidebar' } }
      %span.sr-only
        = t('para.admin.toggle_navigation')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  %li.pull-right
    = link_to destroy_admin_user_session_path, method: :delete do
      %i.fa.fa-power-off
      %span.text-hidden
        = t('para.admin.sign_out')
