%ul.x-navigation
  %li.xn-logo
    = link_to para.admin_path do
      A
      %span.xn-text
        dministration
    %a.x-navigation-control{:href => "#"}

  - if can?(:create, Para::ComponentSection)
    %li
      = link_to para.new_admin_component_section_path do
        %i.fa.fa-plus
        %span.xn-text
          = t('para.component_section.add')

  %li.xn-title Navigation
  - if (component_sections = Para::ComponentSection.ordered).any?
    - component_sections.all.each do |component_section|
      %li.xn-openable{ class: ('active' if component_section_active?(component_section)) }
        = link_to "#" do
          = component_section.name

        %ul
          - component_section.components.each do |component|
            - active = request.url.split('/').pop == component.slug
            %li{ class: active && 'active' }
              = link_to component.name, component_path(component)

          %li.xn-openable.section-actions
            = link_to '#' do
              %i.fa.fa-bars
              = t('para.component_section.actions')
            - if can?(:create, Para::Component::Base)
              %ul
                %li
                  = link_to para.new_admin_component_section_component_path(component_section) do
                    %i.fa.fa-plus
                    %span.xn-text
                      = t('para.component.add')
                  - if can?(:update, component_section)
                    = link_to para.edit_admin_component_section_path(component_section) do
                      %i.fa.fa-pencil
                      = t('para.component_section.edit')
                    = link_to para.admin_component_section_path(component_section), method: 'delete', data: { confirm: t('para.confirmation.shared.destroy', model: component_section.name) } do
                      %i.fa.fa-remove
                      = t('para.component_section.destroy')

  - else
    %li.xn-title.text-info
      %span.xn-text
        = t('para.component.none_created')


  %li.xn-title Theme
  %li.xn-openable
    = link_to "#" do
      %i.fa.fa-file-text-o
      %span.xn-text
        Layouts
    %ul
      %li
        = link_to "Frame Left column", para.admin_iframe_left_column_path
      %li
        = link_to "Frame Right column", para.admin_iframe_right_column_path  

  %li.xn-openable
    = link_to "#" do
      %i.fa.fa-files-o
      %span.xn-text
        Pages
    %ul
      %li
        = link_to para.admin_gallery_path do
          %i.fa.fa-image
          Gallery
      %li
        = link_to para.admin_calendar_path do
          %i.fa.fa-calendar
          Calendar
      %li
        = link_to para.admin_faq_path do
          %i.fa.fa-question-circle
          Faq

  %li
    = link_to para.admin_ui_kits_path do
      %i.fa.fa-cogs
      %span.xn-text
        Ui Kits