- if can? :create, Para::Component::Base
  .add-component
    = link_to '#add-component-form', class: 'btn btn-default btn-block', data: { toggle: 'collapse' } do
      = t('para.component.add_a_component')
    #add-component-form.collapse
      %br/
      .well
        = simple_form_for Para::Component::Base.new, as: :component, url: para.admin_components_path do |form|
          = form.input :name
          = form.input :component_section_id, collection: Para::ComponentSection.all, include_blank: false
          = form.input :type, collection: registered_components_options, include_blank: false
          = form.button :submit

  %br/
- if (component_sections = Para::ComponentSection.ordered).any?
  - component_sections.all.each do |component_section|
    .panel.panel-default
      .panel-heading= component_section.name
      .panel-body{style: 'padding-top: 0px; padding-bottom: 0px;'}
        %ul.nav.nav-sidebar{style: 'margin-bottom: 0px; margin-right: -15px; margin-left: -15px;'}
          - component_section.components.each do |component|
            - active = request.url.split('/').pop == component.slug
            %li{class: active && 'active'}
              = link_to component.name, component_path(component)
- else
  = t('para.component.none_created')
