%ul.x-navigation
  %li.xn-logo
    = link_to para.admin_path do
      A
      %span.xn-text
        dministration
    %a.x-navigation-control{:href => "#"}

  - if @component_sections.any?
    - @component_sections.each do |component_section|
      %li.xn-openable.active
        = link_to "javascript:void(0);" do
          %span.xn-text
            = component_section.name

        %ul
          - component_section.components.each do |component|
            - active = request.url.split('/').pop == component.slug
            %li{ class: active && 'active' }
              = link_to component.name, component.path

  - else
    %li.xn-title.text-info
      %span.xn-text
        = t('para.component.none_created')
