%ul.sidebar-navigation.collapse.navbar-collapse#menu-sidebar
  %li.brand-logo
    = link_to admin_path do
      = t('para.admin.title')

  - if @component_sections.any?
    - @component_sections.each do |component_section|
      %li.component-section-item
        = link_to "#", class: 'component-section-title' do
          = component_section.name

        %ul.component-section-list-items
          - component_section.components.each do |component|
            - active = @component == component
            %li.component-item{ class: active && 'active' }
              = link_to component.name, component.path

  - else
    %li.component-section-item
      .component-section-title
        = t('para.component.none_created')
