%ul.sidebar-navigation.collapse.navbar-collapse#menu-sidebar
  %li.brand-logo
    = link_to admin_path do
      = t('para.admin.title')

  - if @component_sections.any?
    - @component_sections.each do |component_section|
      - next unless component_section.components.any? { |component| can?(:manage, component) }

      %li.component-section-item
        = link_to "#", class: 'component-section-title' do
          = component_section.name

        %ul.component-section-list-items
          - component_section.components.each do |component|
            - if can? :manage, component
              %li.component-item{ class: (@component == component) && 'active' }
                = link_to component.name, component.path

  - else
    %li.component-section-item
      .component-section-title
        = t('para.component.none_created')
