.page-title
  %h1
    = @page.title
        
.page-content-wrap
  = para_form_for(@page) do |form|
    = form.fieldset do     
      = form.input :title
      = form.input :slug
      = form.input :content, as: :redactor

    = form.actions
      