%h1.page-header= @page.title

= simple_form_for [:admin, @component, @page] do |form|
  = form.input :title
  = form.input :slug
  = form.input :content, as: :redactor
  .form-actions
    = form.button :submit
