.page-title
  %h1= @page.title

.page-content-wrap
  = simple_form_for [:admin, @component, @page], as: :resource, wrapper: :vertical_form, html: { class: 'form-vertical' } do |form|
    .row
      .col-md-12.col-lg-8
        .block.form-inputs          
          = form.input :title
          = form.input :slug
          = form.input :content, as: :redactor
    .row
      .col-md-12
        .form-actions
          = form.button :submit, t('para.shared.save'), class: 'btn btn-success'
      