.nested-many-field{ class: ('orderable' if orderable) }
  .fields-list{ id: dom_identifier }
    - records = form.object.send(attribute_name)
    - if orderable
      - records = records.order(:position)
    = form.simple_fields_for attribute_name, records, nested_attribute_name: attribute_name, orderable: orderable do |nested_form|
      = render partial: find_partial_for(model, :fields), locals: { form: nested_form, parent: form.object }

  = link_to_add_association form, attribute_name, partial: find_partial_for(model, :fields), form_name: 'form', class: 'btn btn-primary', data: { :'association-insertion-node' => "##{ dom_identifier }", :'association-insertion-method' => 'append' }, render_options: { nested_attribute_name: attribute_name, orderable: orderable, locals: { parent: form.object } } do
    %i.fa.fa-plus
    = t('para.form.nested.add')
