.nested-many-field{ class: ('orderable' if reorderable) }
  .fields-list{ id: dom_identifier }
    = form.simple_fields_for attribute_name do |nested_form|
      = render partial: 'para/admin/resources/fields', locals: { form: nested_form, parent: form.object, attribute_name: attribute_name, reorderable: reorderable, allow_destroy: allow_destroy }

  = link_to_add_association form, attribute_name, partial: 'para/admin/resources/fields', form_name: 'form', class: 'btn btn-primary', data: { :'association-insertion-node' => "##{ dom_identifier }", :'association-insertion-method' => 'append' }, render_options: { locals: { parent: form.object, attribute_name: attribute_name, reorderable: reorderable, allow_destroy: allow_destroy } } do
    %i.fa.fa-plus
    = t('para.form.nested.add')