.nested-many-field{ class: ('orderable' if orderable) }
  .fields-list{ id: dom_identifier }
    = form.simple_fields_for attribute_name, resources, nested_attribute_name: attribute_name, orderable: orderable do |nested_form|
      = render partial: 'para/inputs/nested_many_container', locals: { form: nested_form, }

  -# Add button
  - if add_button
    = link_to_add_association form, attribute_name, partial: 'para/inputs/nested_many_container', form_name: 'form', class: 'btn btn-primary', data: { :'association-insertion-node' => "##{ dom_identifier }", :'association-insertion-method' => 'append' }, render_options: { nested_attribute_name: attribute_name, orderable: orderable, locals: { model: model } } do
      %i.fa.fa-plus
      = t('para.form.nested.add')
