= page_top_bar(title: t('para.dashboard.title'), type: 'dashboard/show')

- ordered_components.each_slice(3) do |components|
  - components.each do |component|
    .col-sm-6.col-md-6.col-lg-4.m-t-lg
      = link_to component.path, class: 'statcard statcard-icon' do
        %i.icon-rounded.bg-primary
          = component.name[0,1]
        .startcard-body  
          %h2.statcard-title
            = component.name

          %span.text-muted
            - if component.type == "Para::Component::Crud"      
              = t('para.dashboard.statcard.ressources_count', count: component.resources.count)
            - else
              = t('para.dashboard.statcard.component_form_ressource')

      = link_to '#', class: 'thumbtack-link' do
        %i.fa.fa-thumb-tack
        
-# Create spacing at the end off all statcards        
.col-xs-12.m-t-lg