= render partial: find_partial_for(relation, :filters), locals: { attributes: attributes }

.panel.panel-default
  .panel-heading
    = link_to component_relation_path(@component, relation, nil, :new), class: 'btn btn-default' do
      %i.fa.fa-plus
      = t('para.shared.add')
    .clearfix

  - if resources.length > 0
    %table.table.table-hover.para-component-relation-table
      %thead
        %tr
          <%- attributes.each do |field| -%>
          %th= <%= class_name %>.human_attribute_name(:<%= field.name %>)
          <%- end -%>
          %th.actions{ colspan: 2 }

      %tbody
        - resources.each do |resource|
          %tr
            <%- attributes.each do |field| -%>
            %td= field_value_for(resource, :<%= field.name %>)
            <%- end -%>

            %td
              = link_to component_relation_path(@component, relation, resource, :edit), class: 'btn btn-warning' do
                %i.fa.fa-pencil
            %td
              = link_to component_relation_path(@component, relation, resource, :show), method: :delete, data: { confirm: t('para.list.delete_confirmation') }, class: 'btn btn-danger' do
                %i.fa.fa-trash

  - else
    .panel-body
      .alert.alert-warning.no-margin-bottom
        = t('para.list.empty')

  .panel-footer
    = paginate resources, theme: '<%= Para.config.pagination_theme %>'
