- if component.exportable?
  - if component.exporters.length == 1
    - exporter = component.exporters.first

    = link_to component.path(namespace: :exports, exporter: exporter.name, q: params[:q]), class: 'btn btn-default btn-shadow', method: :post, remote: true, data: { :'job-tracker-button' => true, :'refresh-on-close' => false } do
      %i.fa.fa-download.fa-fw
      = exporter.model_name.human

  - else
    .btn-group.dropdown
      %button.btn.btn-default.btn-shadow{ type: 'button', data: { toggle: 'dropdown' } }
        %i.fa.fa-download.fa-fw
        = t('para.export.name')
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        - component.exporters.each do |exporter|
          %li
            = link_to component.path(namespace: :exports, exporter: exporter.name, q: params[:q]), method: :post, remote: true, data: { :'job-tracker-button' => true, :'refresh-on-close' => false } do
              = exporter.model_name.human
