.panel.panel-default.form-fields.push-down-5
  .panel-heading
    .pull-left
      = form.reorder_anchor
    %h3.panel-title
      = link_to "##{ form.nested_resource_dom_id }", class: 'collapsed', data: { toggle: 'collapse', :'open-on-insert' => true } do
        %i.fa.fa-angle-up
        = form.nested_resource_name

    %ul.panel-controls    
      %li
        = form.remove_association_button

    .clearfix

  .panel-body.form-inputs.collapse{ id: form.nested_resource_dom_id }
    - form.nested_fields.each do |field|
      - if field.field_type
        = form.send(field.field_method, field.name, as: field.field_type)
      - else
        = form.send(field.field_method, field.name)
