= simple_form_for [:admin, @component, resource], as: :resource do |form|
  - Para::AttributeFieldMappings.new(resource.class).fields.each do |field|
    - if field.type
      = form.send(field.field_method, field.name, as: field.field_type)
    - else
      = form.send(field.field_method, field.name)

  .form-actions
    = link_to t('para.shared.cancel'), component_path(@component), class: 'btn btn-danger'
    = form.button :submit, class: 'btn-primary'
