.panel.panel-default
  - url = component_relation_path(@component, resource.class.name, resource)
  = simple_form_for [:admin, @component, resource], url: url, as: :resource do |form|
    .panel-body
      - Para::AttributeFieldMappings.new(resource.class).fields.each do |field|
        - if field.type
          = form.send(field.field_method, field.name, as: field.field_type)
        - else
          = form.send(field.field_method, field.name)

    .panel-footer
      .form-actions
        = form.button :submit, t('para.shared.save'), class: 'btn-success'
        = link_to t('para.shared.cancel'), component_path(@component), class: 'btn btn-default'
