.page-content-wrap
  = simple_form_for [:admin, @component, resource], url: component_relation_path(@component, resource.class.name, resource), as: :resource, wrapper: :vertical_form, html: { class: 'form-vertical' }  do |form|
    = form.error_notification  
    .row
      .col-md-12.col-lg-8
        .block.form-inputs          
          - model_field_mappings(resource.class).fields.each do |field|
            - if field.field_type
              = form.send(field.field_method, field.name, as: field.field_type)
            - else
              = form.send(field.field_method, field.name)
    .row
      .col-md-12.form-actions  
        = form.button :submit, t('para.shared.save'), class: 'btn-success'
        = link_to t('para.shared.cancel'), component_path(@component), class: 'btn btn-default'
