- if component.importable?
  - if component.importers.length == 1
    - importer = component.importers.first

    = link_to component.path(namespace: :import, action: :new, importer: importer.model_name.singular_route_key), class: 'btn btn-default btn-shadow', remote: true, data: { :'job-tracker-button' => true } do
      %i.fa.fa-upload.fa-fw
      = importer.model_name.human

  - else
    .btn-group.dropdown
      %button.btn.btn-default.btn-shadow{ type: 'button', data: { toggle: 'dropdown' } }
        %i.fa.fa-upload.fa-fw
        = t('para.import.name')
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        - component.importers.each do |importer|
          %li
            = link_to component.path(namespace: :import, action: :new, importer: importer.model_name.singular_route_key), remote: true, data: { :'job-tracker-button' => true } do
              = importer.model_name.human
