- if component.importable?
  - if component.importers.length == 1
    = link_to component.path(namespace: :import, action: :new, importer: component.importers.first.name), class: 'btn btn-default', remote: true, data: { :'importer-button' => true } do
      = fa_icon 'upload'
      = t('para.import.name')

  - else
    .btn-group
      %button.btn.btn-default{ type: 'button', data: { toggle: 'dropdown' } }
        = fa_icon 'upload'
        = t('para.import.name')
        %span.caret
      %ul.dropdown-menu
        - component.importers.each do |importer|
          %li
            = link_to component.path(:imports, action: :new, importer: importer.name), remote: true, data: { :'importer-button' => true }
