.page-content-wrap
  = panel do |panel|
    = panel.header do
      = icon_link_to t('para.shared.add'), component_relation_path(component, relation, nil, :new), icon: 'plus', class: 'btn btn-primary'

    = panel.body do
      = render partial: find_partial_for(relation, :filters), locals: { attributes: attributes }

    - if resources.length > 0
      = panel.body class: '' do
        = table_for(resources: resources, model: model, component: component, attributes: attributes)

    - else
      = panel.body do
        = alert class: 'no-margin-bottom', dismissable: false do
          = filtered?(attributes) ? t('para.list.no_results') : t('para.list.empty')

    - if resources.total_count > resources.length
      = panel.footer do
        = paginate resources, theme: Para.config.pagination_theme
