.panel.panel-default
  .panel-heading
    .panel-btns
      = link_to component_relation_path(@component, relation, :new), class: 'btn btn-primary' do
        Créer un enregistrement
      %span.pull-right
        = link_to 'Supprimer ce composant', component_path(@component), method: :delete, class: 'btn btn-danger'

- if resources.any?
  %table.table.table-hover.table-striped
    %thead
      %tr
        - attribute_field_mappings_for(@component, relation).each do |field|
          %th= field.name

    %tbody
      - resources.each do |resource|
        %tr
          - attribute_field_mappings_for(@component, relation).each do |field|
            %td= resource.send field.name

          %td
            = link_to component_relation_path(@component, relation, resource, :edit) do
              Edit
          %td
            = link_to component_relation_path(@component, relation, resource, :show), method: :delete do
              &times;
- else
  .well
    Pas d'enregistrements pour le moment.
