%li.node{ data: { id: root.id } }
  .node-row
    %span.handle
      %i.sort-dots
    %span.node-name
      = resource_name(root)
    
    - buttons = Para::Markup::ResourcesButtons.new(@component, self)
    - actions = Para::Markup::ResourcesTable.default_actions

    .pull-right
      - actions.each do |action|
        = buttons.send(:"#{action}_button", root)

    .clearfix
  %ul.tree
    %li.placeholder{ class: "#{ 'hidden' unless needs_placeholder?(root) }"}
    = render partial: find_partial_for(model, 'tree_item'), collection: root.children.ordered, as: :root, locals: { model: model }
