%li.node{ data: { id: root.id } }
  .node-row
    %span.handle
      %i.sort-dots
    %span.node-name
      = resource_name(root)

    .pull-right
      = link_to @component.relation_path(root, action: :edit, return_to: request.fullpath), class: "btn btn-icon-primary btn-shadow btn-sm hint--left", :'aria-label' => ::I18n.t('para.shared.edit') do
        %i.fa.fa-pencil

      = link_to @component.relation_path(root), method: :delete, data: { confirm: ::I18n.t('para.list.delete_confirmation') }, class: 'btn btn-icon-danger btn-shadow btn-sm hint--left', :'aria-label' => ::I18n.t('para.shared.destroy') do
        %i.fa.fa-times

    .clearfix
  %ul.tree
    %li.placeholder{ class: "#{ 'hidden' unless needs_placeholder?(root) }"}
    = render partial: find_partial_for(model, 'tree_item'), collection: root.children.ordered, as: :root, locals: { model: model }
