%h1.page-header= resource.name

.panel.panel-default
  .panel-heading
    .panel-btns
      = link_to resource_path, class: 'btn btn-primary' do
        Créer un enregistrement

- if records.any?
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= Activity.human_attribute_name(:title)
        %th= Activity.human_attribute_name(:description)
        %th
        %th
    %tbody
      - records.each do |activity|
        %tr
          %td= activity.title
          %td= "#{ sanitize(activity.description, tags: [])[0..100] }..."
          %td
            = link_to edit_admin_activity_activity_path(resource, activity) do
              Edit
          %td
            = link_to admin_activity_activity_path(resource, activity), method: :delete do
              &times;
- else
  .well
    Pas d'enregistrements pour le moment.
