= modal id: "component-import-#{ @importer.model_name.route_key }", data: { :'import-status-url' => @component.path(namespace: :import, importer: @importer.name, id: @status.job_id) } do |modal|
  = modal.header do
    = @importer.model_name.human

  - if @status.failed?
    = render partial: 'failed', locals: { modal: modal }
  - elsif @status.completed?
    = render partial: 'completed', locals: { modal: modal, status: @status }
  - else
    = render partial: 'progress', locals: { modal: modal, status: @status }
